/* Extra small devices (phones) */
@media only screen and (max-width: 576px) {
  /* Estilos específicos para pantallas pequeñas */
  .categoryMain{
    padding-top: 45%;
  }
}

/* Small devices (tablets) */
@media only screen and (min-width: 576px) {
  /* Estilos específicos para tablets */
  .categoryMain{
    padding-top: 15%;
  }

}

/* Medium devices (laptops) */
@media only screen and (min-width: 768px) {
  /* Estilos específicos para laptops */
  .categoryMain{
    padding-top: 9%;
  }
}

/* Large devices (desktops) */
@media only screen and (min-width: 992px) {
  /* Estilos específicos para desktops */
}

/* Extra large devices (large desktops) */
@media only screen and (min-width: 1200px) {
  /* Estilos específicos para pantallas grandes */
}
